.input {
  margin-bottom: 20px;
}

.input__wrap {
  position: relative;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: var(--color-bg);
  border: 2px solid var(--color-main);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow);
  color: var(--color-main);
  font-family: monospace;
  font-size: 18px;
  outline: none;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-main-transparent-2);
  font-size: 18px;
}

textarea {
  min-height: 70px;
}

label {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  background-color: var(--color-main);
  border-radius: var(--radius-small) var(--radius-small) 0 0;
  color: var(--color-white);
  font-size: 14px;
}

label + .input__wrap input,
label + .input__wrap textarea {
  border-radius: 0 var(--radius-small) var(--radius-small) var(--radius-small);
}

.input__wrap:has(button) input,
.input__wrap:has(button) textarea {
  padding-right: 40px;
}

.input__wrap .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-color: var(--color-main);
  border-radius: 0 var(--radius-small) var(--radius-small) 0;
  box-shadow: none;
}

.input__wrap .btn--plus::before,
.input__wrap .btn--minus::before,
.input__wrap .btn--plus::after {
  background-color: var(--color-bg);
}

.input__wrap .btn--wide {
  margin-bottom: 0;
}

.input--invalid label {
  background-color: var(--color-red);
}

.input--invalid label + .input__wrap input,
.input--invalid label + .input__wrap textarea {
  border-color: var(--color-red);
  border-radius: 0 var(--radius-small) 0 0;
  color: var(--color-red);
}

.input__error-message {
  padding: 0 4px 4px;
  background-color: var(--color-red);
  border-radius: 0 0 var(--radius-small) var(--radius-small);
  color: var(--color-white);
  font-size: 12px;
}
