.block {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--color-main-transparent);
  border-radius: var(--radius-small);
	list-style-position: inside;
  backdrop-filter: blur(7px);
	color: var(--color-white);
	/* box-shadow: 0 0 5px 0 var(--color-dark); */
}

.block:last-child:not(:only-child) {
	margin-bottom: 0;
}

.block__title {
  margin-bottom: 10px;
  border-bottom: 4px solid var(--color-white-transparent);
  font-weight: 700;
}

ul.block {
	list-style-type: disc;
}

.block li {
	margin-bottom: 10px;
}
