.btn {
  position: relative;
  padding: 10px;
  border: none;
  background-color: var(--color-main);
  border-radius: var(--radius-small);
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.btn--bordered,
.btn--circle {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	padding: 0;
	background-color: var(--color-bg);
	border: var(--border-width) solid var(--color-main);
  overflow: hidden;
}

.btn--circle {
	background-color: var(--color-bg);
  border-radius: 50%;
}

.btn--wide {
	display: block;
	width: 100%;
  margin-bottom: 20px;
	color: var(--color-white);
	line-height: 32px;
}

.btn--bordered {
	height: auto;
	padding: 10px;
	color: var(--color-main);
}

.btn--bg {
	background-color: var(--color-main-transparent);
	border: none;
}

.btn--menu::before,
.btn--add::before,
.btn--delete::before,
.btn--back::before,
.btn--edit::before,
.btn--delete::after,
.btn--back::after,
.btn--add::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 10px);
  width: 20px;
  height: 4px;
  background-color: var(--color-main);
  border-radius: 2px;
}

.btn--menu::before {
  box-shadow: 0 6px 0 0 var(--color-main), 0 -6px 0 0 var(--color-main);
}

.btn--search::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border: var(--border-width) solid var(--color-main);
  border-radius: 50%;
}

.btn--search::after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 6px;
  width: 8px;
  height: 4px;
  background-color: var(--color-main);
  border-radius: 2px;
  transform: rotate(45deg);
}

.btn--add::after {
  transform: rotate(90deg);
}

.btn--delete::before {
	transform: rotate(-45deg);
}

.btn--delete::after {
	transform: rotate(45deg);
}

.btn--apply::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 3px;
	width: 12px;
	height: 4px;
	background-color: var(--color-main);
	border-radius: 2px;
	transform: rotate(45deg);
}

.btn--apply::after {
	content: "";
	position: absolute;
	top: 14px;
	left: 8px;
	width: 22px;
	height: 4px;
	background-color: var(--color-main);
	border-radius: 2px;
	transform: rotate(-45deg);
}

.btn--profile::before,
.btn--profile::after {
  content: "";
  position: absolute;
  left: 50%;
  border: var(--border-width) solid var(--color-main);
  border-radius: 50%;
  /* background-color: var(--color-main); */
  transform: translateX(-50%);
}

.btn--profile::before {
  width: 100%;
  height: 100%;
  top: 18px;
}

.btn--profile::after {
  width: 16px;
  height: 16px;
  top: 6px;
}

.btn--back {
  position: absolute;
  top: 28px;
  left: 0;
}

.btn--back::before {
	left: 8px;
	transform-origin: left;
	transform: rotate(45deg) translate(-2px);
}

.btn--back::after {
	left: 8px;
	transform-origin: left;
	transform: rotate(-45deg) translate(-2px);
}

.btn--edit::before {
	width: 16px;
	transform: rotate(-45deg) translate(6px, 2px);
}

.btn--edit::after {
	content: '';
	position: absolute;
	top: 10px;
	left: 6px;
	width: 16px;
	height: 16px;
	border: solid var(--color-main);
	border-width: 0 0 var(--border-width) var(--border-width);
}