.btn {
  position: relative;
  padding: 10px;
  border: none;
  background-color: var(--color-main);
	border: var(--border-width) solid var(--color-main);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow);
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.btn[disabled] {
  opacity: .3;
  pointer-events: none;
}

.btn--bordered,
.btn--circle,
.btn--clean {
	display: inline-block;
	vertical-align: top;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	padding: 0;
	background-color: var(--color-bg);
  overflow: hidden;
}

:where(.btn--circle, .btn--clean) svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn--circle {
	background-color: var(--color-bg);
  border-radius: 50%;
}

.btn--wide {
	display: block;
	width: 100%;
  /* margin-bottom: 20px; */
	color: var(--color-white);
	line-height: 32px;
}

.btn--bordered {
	height: auto;
	padding: 10px;
  background-color: var(--color-white-transparent);
	color: var(--color-main);
  text-shadow: 0 0 2px var(--color-white);
}

.btn--bordered svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.btn--bg {
	background-color: var(--color-main-transparent);
	border: none;
}

.btn--clean {
	border: none;
	background-color: transparent;
}

.btn--menu::before,
.btn--plus::before,
.btn--minus::before,
.btn--cross::before,
.btn--back::before,
.btn--cross::after,
.btn--back::after,
.btn--plus::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 10px);
  width: 20px;
  height: 4px;
  background-color: var(--color-main);
  border-radius: 2px;
}

.btn--menu::before {
  box-shadow: 0 6px 0 0 var(--color-main), 0 -6px 0 0 var(--color-main);
}

.btn--search::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border: var(--border-width) solid var(--color-main);
  border-radius: 50%;
}

.btn--search::after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 6px;
  width: 8px;
  height: 4px;
  background-color: var(--color-main);
  border-radius: 2px;
  transform: rotate(45deg);
}

.btn--plus::after {
  transform: rotate(90deg);
}

.btn--cross::before {
	transform: rotate(-45deg);
}

.btn--cross::after {
	transform: rotate(45deg);
}

.btn--apply::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 3px;
	width: 12px;
	height: 4px;
	background-color: var(--color-main);
	border-radius: 2px;
	transform: rotate(45deg);
}

.btn--apply::after {
	content: "";
	position: absolute;
	top: 14px;
	left: 8px;
	width: 22px;
	height: 4px;
	background-color: var(--color-main);
	border-radius: 2px;
	transform: rotate(-45deg);
}

.btn--profile::before,
.btn--profile::after {
  content: "";
  position: absolute;
  left: 50%;
  border: var(--border-width) solid var(--color-main);
  border-radius: 50%;
  /* background-color: var(--color-main); */
  transform: translateX(-50%);
}

.btn--profile::before {
  width: 100%;
  height: 100%;
  top: 18px;
}

.btn--profile::after {
  width: 16px;
  height: 16px;
  top: 6px;
}

.btn--back {
  position: absolute;
  top: 28px;
  left: 0;
}

.btn--back::before {
	left: 8px;
	transform-origin: left;
	transform: rotate(45deg) translate(-2px);
}

.btn--back::after {
	left: 8px;
	transform-origin: left;
	transform: rotate(-45deg) translate(-2px);
}

.btn__text {
	display: block;
}

.btn--expand {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--color-white-transparent);
  border: 1px solid var(--color-white-transparent);
  border-radius: 50%;
}

.btn--expand::before,
.btn--expand::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 8px;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 2px;
  transition: transform ease-in-out .3s;
}

.btn--expand::before {
  left: 5px;
  transform: rotate(45deg);
}
.btn--expand::after {
  right: 5px;
  transform: rotate(-45deg);
}

.btn--expand.active::before {
  transform: rotate(-45deg) translate(1px,-1px);
}

.btn--expand.active::after {
  transform: rotate(45deg)  translate(-1px,-1px);
}

.btn--listen {
  padding: 5px 5px 5px 30px;
  border-radius: var(--radius-main);
  font-size: 12px;
}

.btn--listen::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-white);
  border-radius: 50%;
}

.btn--listen::after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: 11px;
  border: solid transparent;
  border-width: 5px 5px 5px 9px;
  border-left-color: var(--color-white)
}
