.main-menu {
  position: fixed;
  bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  left: 0;
  width: 100%;
  max-width: var(--max-window-width);
  height: calc(100dvh - 110px);
  max-height: calc(100dvh - 110px);
  background-color: var(--color-main-transparent-2);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
  border-radius: 1rem;
  transition:
    transform 0.2s,
    opacity 0.2s;
  opacity: 0;
  box-shadow: 0 0 10px 0 var(--color-bg-dark);
  pointer-events: none;
  overflow: auto;
  z-index: -1;
}

.main-menu--visible {
  opacity: 1;
  transform: translateY(-60px);
  pointer-events: all;
  z-index: 1;
}

.main-menu menu {
  display: flex;
  align-items: stretch;
  padding: 5px;
}

.main-menu__item {
  width: 50%;
  margin: 5px;
}

.main-menu__item:last-of-type {
  margin-bottom: 0;
}

.main-menu__item .btn--wide {
  margin-bottom: 0;
  text-align: center;
}

.main-menu__item .btn--wide svg {
  position: static;
  display: inline-block;
  vertical-align: top;
  transform: none;
}
