.main-menu {
  position: fixed;
  bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  left: 0;
  width: 100%;
  max-width: var(--max-window-width);
  height: calc(50dvh - 100px);
  max-height: calc(50dvh - 100px);
  background-color: var(--color-main);
  border-radius: 50% 50% 0 0;
  filter: blur(10px);
  transition:
    border-radius .3s var(--timing-function),
    transform 0.3s var(--timing-function),
    opacity 0.3s var(--timing-function) .1s,
    filter .3s var(--timing-function);
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  z-index: -1;
}

.main-menu--visible {
  border-radius: var(--radius-main) var(--radius-main) 0 0;
  filter: blur(0);
  opacity: 1;
  transform: translateY(-50px);
  pointer-events: all;
  z-index: 1;
}

.main-menu menu {
  display: flex;
  align-items: stretch;
  padding: 5px;
}

.main-menu__item {
  width: 50%;
  margin: 5px;
}

.main-menu__item:last-of-type {
  margin-bottom: 0;
}

.main-menu__item .btn--wide {
  margin-bottom: 0;
  text-align: center;
}

.main-menu__item .btn--wide svg {
  position: static;
  display: inline-block;
  vertical-align: top;
  transform: none;
}
