.phrases {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.phrases__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.phrases__pagination .btn {
  margin-inline: 10px;
}

.phrase:last-of-type {
  margin-bottom: 0;
}

.phrase::first-letter {
  text-transform: uppercase;
}