.phrases {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 16px;
  list-style: decimal;
  list-style-position: inside;
}

.phrase:last-of-type {
  margin-bottom: 0;
}

.phrase::first-letter {
  text-transform: uppercase;
}