.phrase {
	position: relative;
	margin-bottom: 10px;
  padding: 10px;
  background-color: var(--color-main-transparent);
  border: 1px solid var(--color-main-transparent);
  border-radius: var(--radius-small);
	list-style-position: inside;
	color: var(--color-white);
}

.phrase::marker {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
}

.phrase--with-translation .phrase__header {
  padding-right: 35px;
}

.phrase__header {
  position: relative;
}

.phrase__translation {
  max-height: 0;
	overflow: hidden;
  transition: max-height .3s, padding .45s;
}

.phrase__translation--shown {
	border-top: var(--border-width) solid var(--color-white-transparent);
	margin-top: 10px;
	padding-top: 10px;
	opacity: 1;
	max-height: 30vh;
}

.phrase__translation p {
  margin: 0;
}

.phrase__translation p + p {
  padding-top: 10px;
}

.phrase__link-wrap {
  margin-bottom: 10px;
}

.phrase__link {
  text-decoration: none;
}

.phrase .btn--expand {
  position: absolute;
  top: 0;
  right: 0;
}