.phrase {
	position: relative;
	margin-bottom: 10px;
  padding: 10px;
  background-color: var(--color-main-transparent);
  border-radius: var(--radius-small);
	list-style-position: inside;
	-webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
	color: var(--color-white);
}

.phrase--with-translation {
  padding-right: 35px;
}

.phrase__translation {
  max-height: 0;
	overflow: hidden;
  transition: max-height .3s, padding .45s;
}

.phrase__translation--shown {
	border-top: var(--border-width) solid var(--color-white-transparent);
	margin-top: 10px;
	padding-top: 10px;
	opacity: 1;
	max-height: 30vh;
}

.phrase .btn--expand {
  position: absolute;
  top: 10px;
  right: 10px;
}