.letter__navigation {
	padding-right: 10px;
}
.letter__navigation .block {
	border-radius: 1.5rem;
}

.letter__navigation .block li {
	margin-bottom: 0;
}

.letter__navigation-list {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.letter__navigation-list-item {
  scroll-snap-align: start;
}

.letter__navigation-list-item a {
  display: block;
  width: 32px;
  height: 32px;
  padding: 5px 20px;
  border-radius: 50%;
  color: var(--color-main);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.letter__navigation-list-item a:active {
  background-color: var(--color-main-transparent);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}