.word__navigation {
  padding: 10px 10px 20px 0;
}

.word__navigation-list {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.word__navigation-list-item {
  scroll-snap-align: start;
}

.word__navigation-list-item a {
  display: block;
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 50%;
  color: var(--color-main);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.word__navigation-item a:hover {
  background-color: var(--color-main-transparent);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}