fieldset {
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--color-main-transparent);
  border: 1px solid var(--color-main-transparent-2);
  box-shadow: var(--shadow);
  border-radius: var(--radius-small);
}

fieldset .input:last-of-type {
  margin-bottom: 0;
}

legend {
  padding: 5px 10px;
  background-color: var(--color-main-transparent-2);
  border: 1px solid var(--color-main-transparent-2);
  border-radius: 1rem;
  color: var(--color-white);
}