.internal-window--extendable .internal-window__wrapper {
  position: relative;
}

.internal-window--extendable .internal-window__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, seagreen 0, magenta 20%, gold 40%, rebeccapurple 60%, seagreen 80%);
  background-size: 400% 100%;
  opacity: .5;
  z-index: -1;
  animation: gradientScroll 120s linear infinite;
}

@keyframes gradientScroll {
  0%, 100% { background-position: 0% 0; }
  50% { background-position: 400% 0; }
}
