.btn.btn--magic {
	margin-bottom: 10px;
}

.btn.btn--magic svg {
	margin-right: 10px;
}

.btn.btn--magic:disabled {
	background-color: #a0aec0;
	cursor: not-allowed;
  background: linear-gradient(
        45deg,
        transparent 0%,
        transparent 10%,
        rgba(200, 0, 200, 0.5) 30%,
        rgba(200, 200, 0, 0.7) 60%,
        rgba(0, 200, 200, 0.5) 80%,
        transparent 100%
    );
    background-size: 200% 200%;
    animation: shine 5s linear infinite;
    opacity: .7;
    pointer-events: none;
}

@keyframes shine {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
