.main-footer {
  padding: 10px;
}

.main-footer .block {
	display: flex;
  justify-content: space-between;
  max-width: var(--max-window-width);
	margin: 0 auto;
  backdrop-filter: blur(var(--blur));
	border-radius: 1.5rem;
  box-shadow: var(--shadow);
}