.internal-window {
  position: relative;
	display: flex;
	flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.internal-window__wrapper {
  height: 100%;
  margin: 0 10px 0 50px;
  border-radius: 1rem;
  background-color: var(--color-main-transparent);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
	overflow: hidden;
}

.internal-window__header {
	background-color: var(--color-main-transparent);
	margin-bottom: 20px;
	padding: 20px;
}

.internal-window__content {
	flex-grow: 1;
	max-height: calc(100% - 75px);
	padding: 20px;
	overflow: auto;
}

.internal-window__header + .internal-window__content {
	padding-top: 0;
}

.internal-window__content:has(.internal-window__footer) {
	padding-bottom: 100px;
}

.internal-window__footer {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
	background-color: var(--color-main-transparent);
}

.internal-window__back-btn {

}
