.word__group-wrap {
  display: inline-block;
  vertical-align: top;
  flex-shrink: 0;
  width: calc(80vw + 5px);
  max-width: 414px;
  margin-left: 10px;
  padding: 5px;
  background-color: var(--color-main-transparent);

  backdrop-filter: blur(var(--blur));
  border-radius: 1rem;
  scroll-snap-align: center;
}

.word__group {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  overflow-y: auto;
}

.word__group::before {
  content: attr(data-letter);
  display: inline-block;
  vertical-align: top;
  flex-shrink: 0;
  width: 43px;
  height: 43px;
  margin: 5px;
  padding: 5px;
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-main);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}