*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--color-theme: black;
  --color-white: white;
  --color-white-transparent: rgba(255, 255, 255 , .3);
  --color-black: black;
	--color-bg: rgb(171, 201, 199);
  --color-main: rgb(15, 118, 110);
  --color-main-transparent: rgba(15, 118, 110, 0.3);
  --color-main-transparent-2: rgba(15, 118, 110, 0.75);
  --color-red: maroon;
  --color-red-transparent: rgba(128, 0, 0, 0.3);
  --color-blue: darkcyan;
  --color-blue-transparent: rgba(0, 139, 139, 0.3);
  --radius-small: 4px;
	--border-width: 4px;
}

html {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.2;
}

#root {
  display: flex;
  flex-flow: column wrap;
  height: 100dvh;
  margin: 0;
  color: var(--color-white);
}

main {
  position: relative;
  width: calc(100% - 10px);
  height: 100%;
  max-height: calc(100% - 158px);
  margin-left: 10px;
  border-radius: 1rem;
}

main:has(>.internal-window) {
  background-color: transparent;
}

a {
  color: inherit;
	text-decoration: underline;
}

p {
  margin-bottom: 20px;
}

ul, menu {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.title {
  margin-bottom: 10px;
  border-bottom: var(--border-width) solid var(--color-main-transparent);
	font-weight: 700;
}

.marker {
	list-style-type: disc;
	list-style-position: inside;
}

.centered {
  text-align: center;
}

.underlined {
  text-decoration: underline;
  cursor: pointer;
}
