*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: white;
  --color-white-transparent: rgba(255, 255, 255 , .3);
  --color-black: black;
  --color-black-transparent: rgba(0, 0, 0, .3);
	--color-bg: #abc9c7;
	--color-bg-dark: rgba(30, 50, 50, .9);
  --color-main: #0f766e;
  --color-main-transparent: rgba(15, 118, 110, 0.3);
  --color-main-transparent-2: rgba(15, 118, 110, 0.75);
  --color-red: maroon;
  --color-red-transparent: rgba(128, 0, 0, 0.3);
  --color-green: rgb(46, 139, 87);
  --color-green-transparent: rgba(46, 139, 87, 0.3);
  --radius-main: 1rem;
  --radius-small: 8px;
	--border-width: 2px;
  --blur: 10px;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --max-window-width: 760px;
  --max-panel-width: 480px;
  --timing-function: ease-out;
}

html {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.2;
  font-optical-sizing: auto;
}

body {
	background: var(--color-bg);
}

#root {
  display: flex;
  flex-flow: column wrap;
  height: 100dvh;
  margin: 0;
  color: var(--color-white);
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 158px);
  border-radius: 1rem;
}

main:has(>.internal-window) {
  background-color: transparent;
}

a {
  color: inherit;
	text-decoration: underline;
}

p {
  margin-bottom: 20px;
}

ul, menu {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

svg {
	max-width: 100%;
	max-height: 100%;
}

.title {
  margin-bottom: 10px;
  border-bottom: var(--border-width) solid var(--color-main-transparent);
	font-weight: 700;
}

.marker {
	list-style-type: disc;
	list-style-position: inside;
}

.centered {
  text-align: center;
}

.underlined {
  text-decoration: underline;
  cursor: pointer;
}
