.button-switcher {
	margin-bottom: 20px;
	border-radius: var(--radius-main);
	box-shadow: 0 0 5px 0 var(--color-black-transparent);
}

.button-switcher .btn {
	width: 50%;
  min-height: 40px;
  padding: 5px 10px;
	border-radius: var(--radius-main) 0 0 var(--radius-main);
  border-width: 2px;
	box-shadow: none;
}

.button-switcher .btn + .btn {
	border-radius: 0 var(--radius-main) var(--radius-main) 0;
}